<div id="hero-image">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <!-- <img src="../images/cinema.jpg" alt="cinema" height="100%" width="100%"/> -->
    <h1 class="movie">Cinema Ironhack</h1>
    <a href="/movies">Check the movies!</a>
</div>



